body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.planet-detail{
    padding: 3rem;
    margin: 2rem auto;
    max-width: 1200px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.planet-image{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

img{
    width: 100%;
    max-width: 800px;
    height: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.planet-image h2{
    font-size: 4rem;
    color: var(--main-color);
    margin: 0;
    padding: 1rem 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.planet-info-container{
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.planet-info-container h1{
    color: var(--main-color);
    font-size: 4rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.planet-info-container p{
    font-size: 1.8rem;
    color: var(--white);
    line-height: 1.8;
    margin-bottom: 2rem;
}

.planet-info-container table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: bold;
    background-color: rgba(7, 7, 7, 0.85);
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.planet-info-container th, .planet-info-container td{
    padding: 1.5rem;
    text-align: left;
}

.planet-info-container th{
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}

.planet-info-container tr:nth-child(even) td{
}

.planet-info-container tr:hover td{
    transition: background-color 0.3s ease;
}

.planet-info-container td{
    color: #555;
}