@import url("./reset.css");
@import url("./icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root{
    font-size: 62.5%;
    --white: hsl(180, 3%, 94%);
    --text-opacity: 1;
    --p-color: rgba(161, 161, 170, var(--text-opacity));
    --main-color: rgba(102, 51, 153, 0.98);
    --border-radius: 4px;
}

html{
    scroll-behavior: smooth;
    background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
    background-repeat: repeat;
    background-color: #171515;
}

body *{
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    position: sticky;
    padding: 1rem 3rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .logo{
            a img{
                width: 50px;
                height: 50px;
            }
        }
        
        .nav_links{
            display: flex;
            gap: 0.5rem;
            align-items: center;
            
            .dropdown{
                position: relative;
                
                .profile-picture-header img{
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            
            .dropdown-content{
                display: none;
                opacity: 0;
                transition: opacity 0.5s ease,
                visibility 0.5s ease,
                transform 0.3s ease;
                position: absolute;
                background-color: #1a1a1a;
                width: 150px;
                box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.5);
                z-index: 1;
                visibility: hidden;
                border-radius: 8px;
                overflow: hidden;
                right: 0;
                margin-top: 1rem;
            }
            
            .dropdown-content a{
                color: #eaeaea;
                padding: 1.2rem 1.6rem;
                text-decoration: none;
                display: block;
                font-size: 1.4rem;
                font-weight: 600;
                border-radius: 4px;
                transition: background-color 0.3s ease,
                transform 0.2s ease,
                box-shadow 0.2s ease;
                text-align: center;
                width: 100%;
                box-sizing: border-box;
            }
            
            .dropdown-content a:hover{
                background-color: rgba(51, 51, 51, 0.55);
                box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.6);
            }
            
            .dropdown:hover .dropdown-content{
                display: block;
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
            
            li a{
                font-size: 1.4rem;
                color: #ffffff;
                text-decoration: none;
                padding: 1rem;
                transition: all 0.3s ease-in-out;
                
                &:hover{
                    color: var(--main-color);
                }
            }
        }
        
        .search{
            display: flex;
            align-items: center;
            border-radius: 0.4rem;
            overflow: hidden;
            
            button{
                padding: 0.5rem;
                border: none;
                background-color: var(--main-color);
                color: white;
                cursor: pointer;
            }
            
            form{
                display: flex;
            }
            
            input{
                padding: 0.5rem;
                border: none;
                flex: 1;
                width: 150px;
                
                &::placeholder{
                    color: #6c757d;
                    font-size: 1.4rem;
                }
            }
        }
        
        button{
            font-size: 1rem;
            color: #ffffff;
            background-color: #343a40;
            padding: 0.5rem 1.5rem;
            border: 1px solid #6c757d;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: all 0.3s ease-in-out;
            
            &:hover{
                background-color: #1d1e21;
                color: var(--main-color);
            }
        }
    }
}

footer{
    background-color: black;
    color: white;
    padding: 1.5rem 4rem;
    
    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        align-items: center;
        font-size: 1.4rem;
    }
    
    .social-icons{
        grid-column: 2 / 4;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    ul{
        display: flex;
        gap: 1rem;
    }
    
    li a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.3rem;
        padding: 0.5rem;
    }
    
    li a:hover{
        color: var(--main-color);
    }
    
    p{
        text-align: end;
    }
}

@media screen and (max-width: 1024px){
    body{
        header{
            padding: 1rem 2rem;
            
        }
    }
}

@media screen and (max-width: 768px){
    header{
        nav{
            .search{
                display: none;
            }
            
            .nav_links{
                display: flex;
            }
            
            div .links{
                display: flex;
            }
            
            
        }
    }
    
    footer{
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.6rem;
            
            .container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 1.2rem;
            }
            
            .social-icons{
                order: -1;
                justify-content: flex-start;
            }
        }
    }
}


.signup-link{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    
    p{
        font-size: 1.2rem;
        color: #e4e8ee;
    }
    
    a{
        text-decoration: none;
        font-weight: bold;
        color: #aad1fa;
        transition: color 0.3s ease-in-out;
        
        &:hover{
            color: #e4e8ee;
        }
    }
}

.error-messages{
    background: rgba(248, 215, 218, 0.8);
    color: #721c24;
    border: 1px solid rgba(245, 198, 203, 0.8);
    border-radius: 12px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    
    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        
        li{
            font-size: 1.2rem;
            line-height: 1.5;
        }
    }
}
