@import url("./reset.css");
@import url("./icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root{
    font-size: 62.5%;
    --soft-orange: hsl(35, 77%, 62%);
}

html{
    scroll-behavior: smooth;
    background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
    background-repeat: repeat;
    background-color: black;
}

*{
    box-sizing: border-box;
}

body *{
    line-height: calc(2px + 2ex + 2px);
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
}


header{
    background-color: black;
    position: sticky;
    padding: 0.5rem 5rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .logo{
            a img{
                width: 50px;
                height: 50px;
            }
        }
        
        .nav_links{
            display: flex;
            gap: 1rem;
            
            li a{
                font-family: 'Inter', sans-serif;
                font-size: 1.5rem;
                color: #ffffff;
                text-decoration: none;
                /* background-color: var(--buttons-color); */
                padding: 1rem 2rem;
                /* border-radius: 4px; */
                /* box-shadow: 0 4px 10px rgba(7, 64, 248, 0.87); */
                transition: all 0.3s ease-in-out;
                
                &:hover{
                    color: #17d4fc;
                }
            }
        }
        
        .search{
            display: flex;
            gap: 1rem;
            align-items: center;
            
            input{
                font-size: 1rem;
                padding: 0.7rem 3rem;
                background-color: #1d1d1d;
                color: #ffffff;
                border: 1px solid #6c757d;
                outline: none;
                transition: all 0.3s ease-in-out;
                
                &:hover, :focus{
                    background-color: #2c2c2c;
                    color: #f8f9fa;
                    border: 1px solid #17d4fc;
                    box-shadow: 0 0 10px rgba(23, 212, 252, 0.8);
                }
                
                &::placeholder{
                    color: #6c757d;
                    font-size: 1.4rem;
                }
            }
        }
        
        button{
            font-size: 1rem;
            color: #ffffff;
            background-color: #343a40;
            padding: 0.7rem 2rem;
            border: 1px solid #6c757d;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: all 0.3s ease-in-out;
            
            &:hover{
                background-color: #1d1e21;
                color: #17d4fc;
            }
        }
    }
}


footer{
    background-color: black;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
    box-shadow: 0 4px 10px rgb(252, 241, 241);
    
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 2rem;
        align-items: center;
        
        
    }
    
    
    ul{
        display: flex;
        gap: 1.5rem;
        
        li a{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.8);
            font-size: 1.2rem;
            padding: 0.5rem;
        }
    }
}

@media screen and (max-width: 1024px){
    body{
        header{
            padding: 1rem 2rem;
            
            nav{
                .nav_links{
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    body{
        header{
            padding: 1rem 2rem;
            
            nav{
                .search input{
                    font-size: 1.5rem;
                    padding: 0.5rem;
                }
                
                button{
                    font-size: 1.2rem;
                    padding: 0.5rem 1rem;
                }
            }
        }
        
        footer{
            .container{
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}