*{
    color: #f1f4fa;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body{
    main{
        display: grid;
        padding: 10rem;
        gap: 4rem;
        justify-content: center;
        
        .section1{
            min-width: max-content;
            display: flex;
            gap: 2rem;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            border-radius: 10px;
            background-color: #0c264d57;
            
            .notification{
                position: fixed;
                padding: 20px;
                bottom: 10px;
                border-radius: 5px;
                color: #fff;
                z-index: 1000;
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
            }
            
            .notification.show{
                opacity: 1;
            }
            
            .notification.error{
                background-color: #f44336;
            }
            
            .notification.success{
                background-color: #218d0b;
            }
            
            p{
                font-size: 1.5rem;
                color: #fff;
            }
            
            .profile-details{
                position: relative; /* Make the container the reference for absolute positioning */
                display: flex;
                flex-direction: column;
                align-items: center;
                
                img{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    transform: translateY(-40%);
                    box-shadow: 0 0 10px rgba(253, 253, 253, 0.35);
                }
                
                h2{
                    font-size: 4rem; /* Keeps the size of the name text large */
                    color: #fff;
                    text-transform: uppercase;
                }
                
                .change-picture-icon{
                    position: absolute; /* Ensure the icon is positioned relative to .profile-details */
                    bottom: 30%; /* Adjust this value as needed to correctly place the icon */
                    
                    right: calc(50% - 20px); /* Centers icon horizontally around the image */
                    background-color: rebeccapurple; /* Makes the icon background white for visibility */
                    border-radius: 50%; /* Circular background for the icon */
                    padding: 10px; /* Space around the icon */
                    cursor: pointer; /* Add pointer cursor */
                    transform: translateY(-80%) translateX(100%); /* Matches the translateY of the img */
                }
            }
            
            
            #profile_picture{
                display: none;
            }
        }
        
        .update{
            display: grid;
            border: 1px solid rgba(255, 255, 255, .2);
            background-color: #33333375;
            align-items: center;
            padding: 2rem;
            gap: 4rem;
            font-size: 1.4rem;
            width: 100%;
            margin: 0 auto;
            
            h2{
                font-size: 2em;
                color: #fff;
                text-align: center;
            }
            
            form{
                
                display: flex;
                flex-direction: column;
                align-items: stretch;
                
                label{
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                    text-align: left;
                }
                
                input{
                    font-size: 1.2rem;
                    padding: 0.5rem;
                    border-radius: 4px;
                    border: 1px solid #6c757d;
                    color: rgba(0, 0, 0, 0.71);
                }
                
                button{
                    font-size: 1.5rem;
                    padding: 0.5rem 1rem;
                    border-radius: 4px;
                    border: none;
                    background-color: #175193;
                    color: #fff;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
}
