@import url("./reset.css");
@import url("./icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
:root {
  font-size: 62.5%;
  --soft-orange: hsl(35, 77%, 62%);
}
* {
  box-sizing: border-box;
}
body {
  font-size: 2rem;
  background-color: darkgrey;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
  }
  header {
    background-color: red;
    .container {
      padding: 3rem;
      display: flex;
      justify-content: space-between;
      nav {
        ul {
          display: flex;
          gap: 3rem;
        }
      }
    }
  }
  main {
    background-color: green;
    .main_banner {
      background-image: url("../image_moon1.jpg");
      background-size: cover;
      background-position: center;
      height: calc(100vh - 600px);
      .container {
        display: flex;
        height: 100%;
        align-items: flex-end;
        a {
          text-decoration: none;
          color: white;
          font-weight: bold;
          padding-bottom: 2rem;
          h3 {
            font-size: 4rem;
          }
          p {
            font-size: 3rem;
          }
        }
      }
    }
    .socials {
      background-color: lightblue;
      .container {
        padding: 1rem;
        ul {
          display: flex;
          justify-content: space-around;
          font-size: 3rem;
          li {
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
    .planets {
      min-height: 20rem;
      padding: 2rem 0;
      .container {
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        article {
          background-color: purple;
          min-height: 200px;
          border-radius: 1rem;
          .head {
            div {
              aspect-ratio: 16/9;
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
          }
          .foot {
            height: 100%;
            height: 10rem;
            text-align: center;
            padding-top: 2.5rem;
          }
        }
      }
    }
    .pagination {
      background-color: orange;
      width: 100%;
      height: 100%;
      padding: 1rem;
      ul {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
      }
      a {
        text-decoration: none;
        padding: 5px 10px;
        background-color: #f1f1f1;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 4px;
        &:hover {
          background-color: #ddd;
        }
        &.active {
          font-weight: bold;
          background-color: #4caf50;
          color: white;
        }
      }
    }
  }
  footer {
    background-color: blue;
    .container {
      display: flex;
      justify-content: space-between;
      padding: 3rem;
      ul {
        display: flex;
        gap: 2rem;
      }
    }
  }
}
