@import url("./reset.css");
@import url("./icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root{
    font-size: 62.5%;
    --soft-orange: hsl(35, 77%, 62%);
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body *{
    line-height: calc(2px + 2ex + 2px);
    font-size: 2rem;
}

body{
    background-color: black;
    
    header{
        background-color: #0a152c;
        box-shadow: 0 4px 20px rgb(0, 0, 0);
        position: sticky;
        padding: 1rem 5rem;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .logo{
                a img{
                    width: 50px;
                    height: 50px;
                }
            }
            
            .nav_links{
                display: flex;
                gap: 2rem;
                
                li a{
                    font-family: 'Inter', sans-serif;
                    font-weight: bold;
                    font-size: 1.5rem;
                    color: #ffffff;
                    text-decoration: none;
                    /* background-color: var(--buttons-color); */
                    padding: 1.2rem 2rem;
                    /* border-radius: 4px; */
                    /* box-shadow: 0 4px 10px rgba(7, 64, 248, 0.87); */
                    transition: all 0.3s ease-in-out;
                    
                    &:hover{
                        color: #17d4fc;
                    }
                }
            }
            
            .search{
                display: flex;
                gap: 1.5rem;
                align-items: center;
                
                input{
                    font-size: 1.6rem;
                    padding: 1rem 1.5rem;
                    background-color: #1d1d1d;
                    color: #ffffff;
                    border: 1px solid #6c757d;
                    border-radius: 4px;
                    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
                    outline: none;
                    transition: all 0.3s ease-in-out;
                    
                    &:hover, :focus{
                        background-color: #2c2c2c;
                        color: #f8f9fa;
                        border: 1px solid #17d4fc;
                        box-shadow: 0 0 10px rgba(23, 212, 252, 0.8);
                    }
                    
                    &::placeholder{
                        color: #6c757d;
                        font-size: 1.4rem;
                    }
                }
            }
            
            button{
                font-size: 1.4rem;
                color: #ffffff;
                background-color: #343a40;
                padding: 1rem 3rem;
                border: 1px solid #6c757d;
                border-radius: 4px;
                cursor: pointer;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                text-transform: uppercase;
                letter-spacing: 1px;
                transition: all 0.3s ease-in-out;
                
                &:hover{
                    background-color: #495057;
                    color: #17d4fc;
                    box-shadow: 0px 5px 15px rgba(23, 212, 252, 0.6);
                }
            }
        }
    }
    
    main{
        background-color: black;
        background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
        background-repeat: repeat;
        
        .featured-banner{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 800px;
            position: relative;
            align-items: flex-end;
            box-shadow: 0 4px 20px rgb(0, 0, 0);
            overflow: hidden;
        }
        
        /* .featured-banner::after{ */
        /*     content: ""; */
        /*     position: absolute; */
        /*     top: 0; */
        /*     left: 0; */
        /*     right: 0; */
        /*     bottom: 0; */
        /*     z-index: 2; */
        /*     background: linear-gradient( */
        /*             to top, */
        /*             rgba(0, 0, 0, 1) 5%, */
        /*             rgba(0, 0, 0, 0.9) 15%, */
        /*             rgba(0, 0, 0, 0.8) 25%, */
        /*             rgba(0, 0, 0, 0.7) 35%, */
        /*             rgba(0, 0, 0, 0.6) 45%, */
        /*             rgba(0, 0, 0, 0.5) 55%, */
        /*             rgba(0, 0, 0, 0.4) 65%, */
        /*             rgba(0, 0, 0, 0.3) 75%, */
        /*             rgba(0, 0, 0, 0.2) 85%, */
        /*             rgba(0, 0, 0, 0.1) 95%, */
        /*             rgba(0, 0, 0, 0) 100% */
        /*     ); */
        /* } */
        
        #picture_of_the_month{
            position: relative;
        }
        
        #picture_of_the_month::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            background: linear-gradient(
                    to top,
                    rgba(0, 0, 0, 1) 5%,
                    rgba(0, 0, 0, 0.9) 25%,
                    rgba(0, 0, 0, 0.8) 35%,
                    rgba(0, 0, 0, 0.7) 40%,
                    rgba(0, 0, 0, 0.6) 45%,
                    rgba(0, 0, 0, 0.5) 55%,
                    rgba(0, 0, 0, 0.4) 65%,
                    rgba(0, 0, 0, 0.3) 75%,
                    rgba(0, 0, 0, 0.2) 85%,
                    rgba(0, 0, 0, 0.1) 95%,
                    rgba(0, 0, 0, 0) 100%
            );
        }
        
        #picture_of_the_month img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative; /* Ensure the image is below the gradient */
            z-index: 1; /* Position the image below the gradient */
        }
        
        .featured-banner .content{
            position: absolute;
            bottom: 20rem;
            left: 15rem;
            z-index: 3;
            color: white;
            max-width: 35%;
            font-family: 'Inter', sans-serif;
            
            h3{
                font-size: 7rem;
                margin-bottom: 2rem;
                text-shadow: 2px 2px 10px #faf6f6;
                letter-spacing: 2.5px;
                
            }
            
            p{
                font-size: 1.8rem;
                margin-bottom: 3rem;
                line-height: 2;
                text-shadow: 1px 1px 8px #faf7f7;
                text-align: justify;
            }
            
            
            button{
                font-size: 1.6rem;
                color: white;
                background-color: #161f4f;
                padding: 1rem 2rem;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                box-shadow: 0 4px 10px rgba(27, 31, 59, 0.6);
                text-transform: uppercase;
                transition: all 0.3s ease-in-out;
                
                &:hover{
                    background-color: #2c315c;
                    box-shadow: 0 6px 15px rgba(44, 49, 92, 0.8);
                    transform: scale(1.05);
                }
            }
        }
    }
}

.socials{
    background-color: transparent;
    height: 10vh;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    
    .container{
        padding: 1rem;
        
        ul{
            display: flex;
            justify-content: space-around;
            font-size: 3rem;
            
            li{
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}

.planets{
    min-height: 100vh;
    padding: 5rem 15rem;
    
    .container{
        display: grid;
        gap: 5rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
        article{
            background-color: black;
            height: 350px;
            min-width: 300px;
            border-radius: 1rem;
            color: white;
            border: 4px solid rgba(239, 227, 227, 0.1);
            position: relative;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            
            &:hover{
                box-shadow: 0 1px 5px rgba(255, 255, 255, 0.2);
                transform: scale(1.02);
            }
            
            .head{
                position: relative;
                height: 100%;
                overflow: hidden;
                
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            .foot{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
                padding: 10px;
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s 0.3s, opacity 0.3s ease;
                
                h3{
                    font-size: 2.5rem;
                    margin-bottom: 10px;
                    text-align: center;
                    height: auto;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: var(--soft-orange);
                }
                
                p{
                    font-size: 14px;
                    margin: 0;
                    text-align: center;
                    color: #e0e0e0;
                }
            }
            
            &:hover .foot{
                visibility: visible;
                opacity: 1;
                transition: opacity 0.3s ease;
            }
        }
    }
}

.pagination{
    background-color: transparent;
    width: 100%;
    height: auto;
    padding: 4rem;
    
    ul{
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
    }
    
    a{
        text-decoration: none;
        padding: 1rem 1.5rem;
        background: linear-gradient(135deg, #1d3557, #457b9d);
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-family: 'Inter', sans-serif;
        transition: all 0.3s ease-in-out;
        
        &:hover{
            background: linear-gradient(135deg, #146fa9, #1357b6);
            transform: translateY(-5px) scale(1.1);
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8);
        }
        
        &.active{
            font-weight: bold;
            background: linear-gradient(135deg, #e1deda, #afa48f);
            border: 1px solid rgba(255, 255, 255, 0.4);
            color: black;
            transform: scale(1.2);
            box-shadow: 0 4px 15px rgba(246, 246, 246, 0.8);
        }
    }
}


footer{
    background-color: #1d3557;
    color: white;
    padding: 2rem 2rem;
    text-align: center;
    box-shadow: 0 4px 20px rgb(252, 241, 241);
    
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 2rem;
    }
    
    ul{
        display: flex;
        gap: 1.5rem;
        
        li a{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.8);
            font-size: 1.4rem;
            padding: 0.5rem 1rem;
        }
    }
}

@media screen and (max-width: 1024px){
    body{
        header{
            padding: 1rem 2rem;
            
            nav{
                .nav_links{
                    display: none;
                }
            }
        }
        
        main{
            .featured-banner{
                height: 600px;
                
                .content{
                    bottom: 10rem;
                    left: 5rem;
                    max-width: 60%;
                }
            }
            
            .planets{
                padding: 10rem 10rem;
                
                .container{
                    grid-template-columns: repeat(2, 1fr);
                }
                
            }
        }
    }
}

@media screen and (max-width: 768px){
    body{
        header{
            padding: 1rem 2rem;
            
            nav{
                .search input{
                    font-size: 1.5rem;
                    padding: 0.5rem;
                }
                
                button{
                    font-size: 1.2rem;
                    padding: 0.5rem 1rem;
                }
            }
        }
        
        main{
            display: contents;
            
            .featured-banner{
                display: contents;
                
                .content{
                    text-align: left;
                    max-width: 100%;
                    position: unset;
                    padding: 4rem;
                    
                    h3{
                        font-size: 4rem;
                    }
                    
                    p{
                        font-size: 1.6rem;
                    }
                    
                    button{
                        Width: 100%;
                        Padding: 1.2rem;
                        font-size: 1.2rem;
                        
                    }
                    
                }
                
                
            }
            
            .socials{
                padding: 5rem;
            }
            
            .planets{
                .container{
                    grid-template-columns: 1fr;
                }
            }
        }
    }
    
    footer{
        .container{
            flex-direction: column;
            justify-content: center;
        }
    }
}