@import url("./reset.css");
@import url("./icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
:root {
  font-size: 62.5%;
  --soft-orange: hsl(35, 77%, 62%);
}
* {
  box-sizing: border-box;
}
body {
  font-size: 2rem;
  background-color: darkgrey;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
  }
  header {
    background-color: red;
    .container {
      padding: 3rem;
      display: flex;
      justify-content: space-between;
      nav {
        ul {
          display: flex;
          gap: 3rem;
        }
      }
    }
  }
  main {
    background-color: green;
    .main_banner {
      background-image: url("../image_moon1.jpg");
      background-size: cover;
      background-position: center;
      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        h3 {
          font-size: 4rem;
        }
        p {
          font-size: 3rem;
        }
      }
    }
    .socials {
      .container {
        background-color: lightblue;
        padding: 1rem;
        ul {
          display: flex;
          justify-content: space-around;
          font-size: 3rem;
        }
      }
    }
    .planets {
      .container {
        background-color: orange;
        min-height: 50rem;
        padding: 3rem;
      }
    }
  }
  footer {
    background-color: blue;
    .container {
      display: flex;
      justify-content: space-between;
      padding: 3rem;
    }
  }
}
