# Dependency directories
node_modules/
vendor/
*.sql
*.dump
*.backup
*.data.sql
.env
.env.*
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tmp/
*.tmp
*.swp
*.bak
*.old
.DS_Store
Thumbs.db
.idea/
.vscode/
.cache/
*.cache
cache/