# Dependency directories
node_modules/
vendor/
*.sql
.db
.idea/
.vscode/
# Ignore .env file
.env

# Composer vendor directory

# Ignore composer.json and composer.lock files
composer.json
composer.lock
